<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>452950062757-7k6chjic3n2nbp74pgiuajb2v818omcp.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.452950062757-7k6chjic3n2nbp74pgiuajb2v818omcp</string>
	<key>API_KEY</key>
	<string>AIzaSyC8M_v_7FuFBvY4vCBQzBd0z_emztns90Y</string>
	<key>GCM_SENDER_ID</key>
	<string>452950062757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.joonwon.MyNetflix</string>
	<key>PROJECT_ID</key>
	<string>mynetflix-46fea</string>
	<key>STORAGE_BUCKET</key>
	<string>mynetflix-46fea.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:452950062757:ios:ecbc9a1405a33ec1e07f4c</string>
</dict>
</plist>